
/* CSS da aula 14 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10;
    height: 100vh;
    
}
.geral{
   
    width: 350px;
    height: 450px;
    flex-wrap: wrap;
    
    padding: 10;

}

.geral .form .form-group{
 background-color: #f44336;
  margin-bottom: 1rem;
  padding: 3;
}
.geral .form .form-group input{
 background-color: aqua;
  margin-bottom: 1rem;
  padding: 1;
}

.geral .form .botao{
    margin-top: 3rem;

  margin-bottom: 3rem;
  padding: 10;
}
.geral .teste div{
   
    width: 10rem;
    margin-top: 3rem;
}

/* CLASS PARA FORMATAR COM JS */
.alerta {
    background: #f44336;
    padding: 5px;
    border-radius: 5px;
}

/* FORMULARIO */

/* DIV DOS INPUTS */


.input {
    width: 100%;
}

/* INPUTS */
input[type=number], input[type=text] {
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 5px;
}

/* BOTOES */
.botao {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#resultadoImc {
    border: 1px solid #ccc;
    width: 60px;
}

#aviso {
    font-weight: bold;
}

/*
#btnEnviar {
    background: #1a237e;
}

#btnLimpar {
    background: #ff3d00;
}
*/

/* DIV #resultado */
#resultado {
    width: 200px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
}

/* .pessoa sao paragrafos */
.pessoa {
    padding: 0.625rem;
}
.pessoa:nth-child(odd) {
    background: #efefef;
}
.pessoa:nth-child(even) {
    background: #fff;
}